@import url(http://fonts.googleapis.com/css?family=Muli:300,400);

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #3b393d;
	background: #f0f0f0;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
}

body.body--hidden {
	overflow: hidden;
}

body.body--hidden .codrops-header,
body.body--hidden .content--related {
	opacity: 0;
}


a {
	text-decoration: none;
	color: #de6551;
	outline: none;
}

a:hover,
a:focus {
	color: #3b393d;
}

.demo-2 a {
	color: #7cc576;
}

.demo-3 {
	background: #1b1b1b;
}

.demo-4 {
	background: #acaad1;
}

.demo-4 a {
	color: #6448a0;
}

.demo-4 .codrops-header h1 span {
	color: #4f4c4c;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
/* Header */
.header {
	width: 95%;
	margin: 0 auto;
	max-width: 1366px;
}
.header .logo {
	background: url('../img/social-logo.png') no-repeat;
	width: 215px;
	height: 77px;
	display: block;
	margin-top: 25px;
}

/* Content */

.content {
	padding: 1em 0 4em;
}
/* Related demos */

.content--related {
	font-weight: bold;
	text-align: center;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.media-item__img {
	max-width: 100%;
	opacity: .3;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	font-size: 1em;
	margin: 0;
	padding: .5em;
}

/* cards wrapper and close btn */

.wrapper {
	overflow: auto;
	width: 95%;
	max-width: 1366px;
	margin: 50px auto 0;
}

/* general Styles (hes one tough SOB) */


.month-seperator{
	display: block;
	width: 100%;
    margin: 5px;
    position: relative;
    float:right;
    margin: 25px 0px;
}

.month-seperator h2 {
	text-align: right;
	font-size: 24px;
	line-height: 20px;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	letter-spacing: 10px;
	text-transform: uppercase;
	margin: 10px 0px 10px 0px;
}

.month-seperator span {
	height: 3px;
	border-bottom: 3px solid #fff;
	width: 28%;
	position: relative;
	float:right;
}


/*---- FILTER STYLES ------*/
html, 
body, 
.container, 
.content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}



.filter-menu a {
	color: #fff;
}

.filter-menu a:hover,
.filter-menu a:focus {
	color: #fffce1;
	outline: none;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.content {
	position: relative;
	
}

/* Common styles for menu button and menu-wrap */
.menu-button,
.filter-menu {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 2.5em;
	height: 2.25em;
	font-size: 1.5em;
	-webkit-transform: translate3d(2.5em,2.5em,0);
	transform: translate3d(0,0,0);
}

/* Menu Button */
.menu-button {
	z-index: 1000;
	margin: 0;
	padding: 0;
	border: none;
	text-indent: 2.5em;
	color: transparent;
	background: #464646;	
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#fffce1 20%, transparent 20%, transparent 40%, #fffce1 40%, #fffce1 60%, transparent 60%, transparent 80%, #fffce1 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

/* Menu */
.filter-menu {
	z-index: 999;
	background: #464646;
	-webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s;
	transition: width 0.4s, height 0.4s, transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu {
	height: 100%;
	overflow: hidden;
	font-size: 0.75em;
}

.icon-list {
	float: right;
	padding: 2.5em 8em 0 6em;
}

.icon-list a {
	opacity: 0;
	display: inline-block;
	padding: 0 0.2em;
	margin: 0 15px;
	text-align: center;
	font-size: 1.2em;
}

.icon-list a span {
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.5em;
	font-weight: 700;
	padding-top: 0.5em;
}

@media screen and (max-width: 50em) {
	.icon-list a {
		padding: 0.5em 0em;
		margin: 0 5px;
		font-size: 1em;
	}
	.icon-list a span {
		display: none;
	}
}

/* Shown menu */
.show-menu .content-wrap {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: translate3d(0,125px,0);
	transform: translate3d(0,125px,0);
}

.show-menu .filter-menu {
	width: 100%;
	height: 125px;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(1em,-1em,0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.show-menu .icon-list a {
	opacity: 1;
	-webkit-transition: opacity 0.4s 0.4s;
	transition: opacity 0.4s 0.4s;
}

.show-menu .icon-list a:nth-child(2) {
	-webkit-transition-delay: 0.42s;
	transition-delay: 0.42s;
}

.show-menu .icon-list a:nth-child(3) {
	-webkit-transition-delay: 0.44s;
	transition-delay: 0.44s;
}

.show-menu .icon-list a:nth-child(4) {
	-webkit-transition-delay: 0.46s;
	transition-delay: 0.46s;
}

.show-menu .icon-list a:nth-child(5) {
	-webkit-transition-delay: 0.48s;
	transition-delay: 0.48s;
}

.show-menu .icon-list a:nth-child(6) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}


@media screen and (max-width: 50em) {
	
}

@media screen and (max-width: 40em) {
	
}
